# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# ML artifacts
*.onnx

# Audio recordings
*.wav

# Secrets
.env

# Platform
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# Build artifacts
*.bin
*.elf
*.o
*.obj
*.map

# Keys & certs
*.der
*.pem
.env

# Logs
*.log
